body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.half-wight{
    width: 50%;
}
.half-wight img{
    max-width: 90%;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
section{
    display: flex;
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
}
span{
    color: orange;
}
.top-banner{
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;
}