body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.half-wight{
    width: 50%;
}
img{
    max-width: 100%;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-left: 5%;
    margin-bottom: 110px;
}
a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
}
span{
    color: orange;
}
.top-banner{
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(./dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    margin-top: 70px;
    margin-left: 0;
}
h4{
    color: orange;
}
.experience-item{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
.experience-area{
    background-image: url(./exp-bg.png);
    background-repeat: no-repeat;

}
#fulll-stuck-experience{
    border-left: 7px solid;
    border-image: linear-gradiant(salmon, purple);
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image:linear-gardiant(blue,salmon);
    border-image-slice: 1;
}
